.selectedClass {
    border-bottom: solid;
    border-color: #ff7738;
}
.disableClass {
    border-bottom: solid;
    border-color: #232323;
}
.showClass {
    display: block;
}
.noneClass{
    display: none;
}